<form action="/goto" method="get" class="form-inline" role="form">
  <p>
    <label for="bergcloud-address">What is the BERG Cloud device address of your Little Counter?</label>
  </p>
  <div class="form-group">
    <input id="bergcloud-address" class="form-control" type="text" name="address" placeholder="BERG Cloud address">
  </div>
  <button type="submit" class="btn btn-primary">Show me my counter</button>
</form>
